* {
    margin: 0;
    padding: 0;
}

body {
    /*font: 15px arial, ans-srif;*/
    /*padding-top: 15px;*/
    /*padding-bottom: 15px; */
    color: #333;
}

#bodybox {
    margin: auto;
    max-width: 80%;
    /*height: 500px;*/
    font: 15px arial, sans-serif;
    border-style: solid;
    border-width: 1px;
    padding-top: 20px;
    padding-bottom: 25px;
    padding-right: 25px;
    padding-left: 25px;
    box-shadow: 5px 5px 5px grey;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #ff6600;
}

#chatborder {
    border-style: solid;
    background-color: #E2DBD6;
    border-width: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 15px;
    border-radius: 15px;
    min-height: 400px;
    max-height: 500px;
    overflow-y: auto;
}

#chatInfo {
    /*border-style: dotted;*/
    margin-bottom: 10px;
    overflow-y: auto;
}

#conversation {
    min-height: 375px;
    overflow-y: auto;
}

#chatlog {
    font: 15px arial, sans-serif;
}

#chatbox {
    /*border-style: solid;*/
    font: 17px arial, sans-serif;
    height: 10%;
    width: 100%;
    /*margin-top: 140px;*/
}

#clock {
    float: right;
}


/*normal style*/

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.top {
    /*border: 1px solid black;*/
    height: 40px;
    line-height: 40px;
}

.top .top-info {
    /*border: 1px solid black;*/
    width: 1235px;
    margin: 0 auto;
    height: 40px;
    background: url(img/icon_location.png) no-repeat 0 50%;
}

.top .top-info .city {
    float: left;
    padding-left: 20px;
    color: #ff6600;
}

.top .top-info .cutOff {
    padding: 0px 15px;
    float: left;
    color: #666666;
}

.top .top-info .swapCity {
    float: left;
    color: #666666;
}

.top .top-info .top-info-right {
    /*border: 1px solid black;*/
    width: 185px;
    height: 40px;
    float: right;
}

.top .top-info .officialApp {
    float: left;
    padding-left: 15px;
    color: #ff6600;
}

.top .top-info .cutOff2 {
    float: left;
    padding: 0px 15px;
    color: #666666;
}

.top .top-info .chatbot {
    float: left;
    color: #666666;
}

.nav {
    /*border: 1px solid black;*/
    height: 100px;
    background-color: #333333;
    min-width: 1400px;
}

.nav .nav-info {
    /*border: 1px solid black;*/
    width: 1190px;
    margin: 0 auto;
    height: 99px;
}

.nav-info img {
    height: 99px;
    float: left;
}

.nav-info .nav-info-text {
    width: 780px;
    height: 99px;
    float: left;
    line-height: 99px;
}

.nav-info .nav-info-text li {
    float: left;
    list-style: none;
    padding: 0px 34px;
    color: #fff;
}

.nav-info .nav-info-text li a {
    color: #fff;
    padding: 10px;
    border-bottom: solid 1px #ff6600;
}


/*bottom*/

.bottom {
    /*border: 1px solid black;*/
    height: 455px;
    min-width: 1400px;
    background-color: #333333;
}

.upper-block,
.bottom-block {
    color: #ffffff;
}

.bottom .upper-block {
    border-bottom: 1px solid #cccccc;
    width: 1340px;
    height: 115px;
    margin: 0 auto;
    background: url(img/botLog.png) no-repeat 100px 50%;
    line-height: 115px;
}

.upper-block .upper-block-list {
    /*border: 1px solid black;*/
    width: 850px;
    height: 115px;
    float: right;
    margin-right: 52px;
}

.upper-block li {
    list-style: none;
    float: left;
    margin-left: 62px;
}

.bottom .bottom-block {
    border: 1px solid #333333;
    width: 1240px;
    height: 335px;
    margin: 0 auto;
}

.bottom-block .block-1 {
    border-right: 1px solid #cccccc;
    width: 285px;
    height: 201px;
    float: left;
    margin-top: 40px;
    padding-left: 10px;
    padding-top: 10px;
}

.block-1 .block-1-title-1 {
    float: left;
    font-size: 18px;
    letter-spacing: 2px;
}

.block-1 .block-1-title-2 {
    float: left;
    font-size: 18px;
    margin: 0px 15px;
}

.block-1 .block-1-title-3 {
    float: left;
    font-size: 18px;
    letter-spacing: 2px;
}

.block-1 .block-1-inside {
    /*border: 1px solid black;*/
    margin-top: 40px;
    width: 235px;
    letter-spacing: 1.5px;
    font-size: 14px;
}

.block-1-inside .group {
    line-height: 30px;
    color: #9fa0a0;
}

.block-1-inside .group_info {
    line-height: 30px;
    margin-left: 10px;
    font-size: 12px;
    color: #9fa0a0;
}

.block-1-inside .members {
    line-height: 30px;
    color: #9fa0a0;
}

.block-1-inside .members_info {
    line-height: 30px;
    margin-left: 10px;
    font-size: 12px;
    color: #9fa0a0;
}

.block-1-icon {
    width: 235px;
    height: 46px;
    margin-top: 15px;
}

.block-1-icon img {
    width: 37px;
    height: 41px;
    float: left;
}

.block-1-icon .email_title {
    font-size: 12px;
    padding-left: 45px;
    color: #9fa0a0;
}

.block-1-icon .emails {
    font-size: 10px;
    color: #ff6600;
    padding-left: 45px;
}

.bottom-block .block-2 {
    border-right: 1px solid #cccccc;
    width: 500px;
    height: 211px;
    float: left;
    margin-top: 40px;
}

.block-2 .resources {
    /*border: 1px solid black;*/
    width: 400px;
    height: 191px;
    margin: 0 auto;
    margin-top: 10px;
    /*background: url(img/QRcode-2.jpg) no-repeat 15% 100%;*/
}

.resources p {
    font-size: 18px;
    letter-spacing: 2px;
}

.bottom-block .block-3 {
    /*border-right: 1px solid #cccccc;*/
    width: 436px;
    height: 211px;
    float: right;
    margin-top: 40px;
}

.block-3 .linkInfo {
    /*border: 1px solid black;*/
    height: 194px;
    width: 374px;
    margin-top: 10px;
    margin-left: 60px;
}

.linkInfo .link-title {
    font-size: 20px;
    letter-spacing: 2px;
}

.lk-block-1 {
    /*border: 1px solid black;*/
    width: 110px;
    height: 154px;
    margin-top: 15px;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 40px;
    float: left;
}

.lk-block-1 p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.lk-block-2 {
    /*border: 1px solid black;*/
    width: 110px;
    height: 154px;
    margin-top: 15px;
    margin-left: 19px;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 40px;
    float: left;
}

.lk-block-3 {
    /*border: 1px solid black;*/
    width: 110px;
    height: 154px;
    margin-top: 15px;
    margin-left: 19px;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 40px;
    float: left;
}

.bottom-block .footer {
    border-top: 1px solid #cccccc;
    width: 1204px;
    height: 52px;
    margin: 0 auto;
    margin-top: 283px;
    text-align: center;
    font-size: 14.44px;
    color: #9fa0a0;
    line-height: 52px;
    letter-spacing: 1px;
}

.resourcelist p {
    float: left;
    margin: 20px 20px 0 0px;
    color: #9fa0a0;
    font-size: 12px;
}

.chat_info p {
    margin: 20px 20px 0 0px;
    color: #9fa0a0;
    font-size: 15px;
}

.resourcelink {
    font-size: 12px;
    color: #9fa0a0;
}

.chat_info div {
    margin-top: 10px;
}