<!DOCTYPE html>
<html>

<head>
    <title>chatbot</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/chatbotStyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>
    <!-- ignore this -->
    <div class="top">
        <div class="top-info" style="background-image: url({{ url_for('static', filename='img/icon_location.png') }});">
            <p class="city">Norwich</p>
            <p class="cutOff">|</p>
            <p class="swapCity">others</p>

            <div class="top-info-right">
                <a href="chatbot">
                    <p class="officialApp">Chat-bot</p>
                </a>
                <p class="cutOff2">|</p>
                <p class="chatbot">Contacts</p>
            </div>

        </div>
    </div>

    <div class="nav">
        <div class="nav-info">
            <img src="{{ url_for('static', filename='img/log.jpg') }}" alt="log">

            <div class="repulation">
                <p class="repulation-1" style="background-image: url({{ url_for('static', filename='img/rIcon1.png') }});">Since 1998</p>
                <p class="repulation-2" style="background-image: url({{ url_for('static', filename='img/rIcon3.png') }});">Based on UEA</p>
                <p class="repulation-3" style="background-image: url({{ url_for('static', filename='img/rIcon2.png') }});">Accurate Enquiries</p>
            </div>

            <div class="nav-info-text">
                <ul>
                    <a href="chatbot">
                        <li>Chat-Bot</li>
                    </a>
                </ul>
            </div>

        </div>
    </div>

    <!-- main content of this page -->

    <div id="bodybox">
        <div id="chatborder">
            <h1>Chat-Bot</h1>
            <div id="conversation" class="conversation">
                <div id="chatInfo" class="chatInfo">
                    <br>
                    <p>Hello! I'm a train booking chatbot! What can I do for you?</p>
                </div>
            </div>
            <br>
            <form id="userChat">
                <input type="text" name="chat" id="chatbox" placeholder="Type here and press 'Enter' key to send">
                <input type="submit" hidden>
            </form>
        </div>
    </div>

    <!-- bottom -->
    <div class="bottom">

        <div class="upper-block" style="background-image: url({{ url_for('static', filename='img/botLog.png') }});">

            <div class="upper-block-list">
                <ul>
                    <a href="/">
                        <li class="botcol">Home</li>
                    </a>
                    <a href="">
                        <li>Train time & tickets</li>
                    </a>
                    <a href="chatbot">
                        <li>Chat-Bot</li>
                    </a>
                    <a href="/">
                        <li>About us</li>
                    </a>
                </ul>
            </div>
        </div>

        <div class="bottom-block clearfix">

            <div class="block-1">
                <p class="block-1-title-1">Rail Enquiries</p>
                <p class="block-1-title-2">|</p>
                <p class="block-1-title-3">Norwich</p>

                <div class="block-1-inside">
                    <p class="address">Location：xxxxxxxxxxxxxxxxxxxxxxx</p>
                    <p class="tNumber">Telephone ：07000000000</p>
                </div>

                <div class="block-1-icon" style="background-image: url({{ url_for('static', filename='img/icon-botPhone.png') }});">
                    <p class="hotline">24hrs hot line：</p>
                    <p class="hlNumber">000-0000-000</p>
                </div>
            </div>

            <div class="block-2">
                <div class="contactInfo">
                    <p>Contact Us</p>
                    <img class="QRcode" src="{{ url_for('static', filename='img/QRcode-2.jpg') }}" alt="QRcode-2">
                </div>
            </div>

            <div class="block-3">
                <div class="linkInfo">
                    <p class="link-title">Friendly link</p>
                    <div class="friendly clearfix">
                        <p>None</p>

                    </div>
                </div>
            </div>

            <div class="footer">
                <p>©2018 Rail Enquiries</p>
            </div>
        </div>

    </div>
</body>

</html>