<!DOCTYPE html>
<html>

<head>
    <title>Chatbot</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/Chatbot.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/Chatbot.js"></script>
</head>

<body>

    <div class="nav">
        <div class="nav-info">
            <img src="{{ url_for('static', filename='img/log.jpg') }}" alt="Logo">

            <div class="nav-info-text">
                <ul>
                    <a href="/">
                        <li>Chat-Bot</li>
                    </a>
                    <a href="https://www.realtimetrains.co.uk/">
                        <li>Live train times</li>
                    </a>
                    <a href="https://www.thetrainline.com/">
                        <li>Book a train!</li>
                    </a>
                </ul>
            </div>

        </div>
    </div>

    <!-- main content of this page -->

    <div id="bodybox">
        <div id="chatborder">
            <h1>Chat-Bot</h1>
            <div id="conversation" class="conversation">
                <div id="chatInfo" class="chatInfo">
                    <br>
                    <p>Hello! I'm a train booking chatbot! What can I do for you?</p>
                </div>
            </div>
            <br>
            <form id="user_chat">
                <input type="text" name="chat" id="chatbox" placeholder="Type here and press 'Enter' key to send">
                <input type="submit" hidden>
            </form>
        </div>
    </div>
    <!-- bottom -->
    <div class="bottom">
        <div class="bottom-block clearfix">

            <div class="block-1">
                <p class="block-1-title-1">Chatbot</p>
                <p class="block-1-title-2">|</p>
                <p class="block-1-title-3">CMP-7028A</p>

                <div class="block-1-inside">
                    <p class="group">Group：
                        <p class="group_info"> Group 2M 2019</p>
                    </p>
                    <p class="members"> Members:
                        <p class="members_info"> Alvin, Joe, YuTing</p>
                    </p>
                </div>

                <div class="block-1-icon">
                    <img src="{{url_for('static', filename='img/email.png')}}" alt="Email_icon">
                    <p class="email_title">Contacts：</p>
                    <p class="emails">a.lu@uea.ac.uk</p>
                    <p class="emails">j.newman@uea.ac.uk</p>
                    <p class="emails">y.liu21@uea.ac.uk</p>
                </div>
            </div>

            <div class="block-2">
                <div class="resources">
                    <p>Resources</p>
                    <div class="resourcelist">
                        <p>Natural language processing:
                            <a class="resourcelink" href="https://www.nltk.org/">
                                <p>NLTK</p>
                            </a>
                            <a class="resourcelink" href="https://spacy.io/">
                                <p>SpaCy</p>
                            </a>
                        </p>
                        <p>Website scraping:
                            <a class="resourcelink" href="https://selenium-python.readthedocs.io/">
                                <p>Selenium</p>
                            </a>
                            <a class="resourcelink" href="https://www.crummy.com/software/BeautifulSoup/bs4/doc/">
                                <p>BeautifulSoup</p>
                            </a>
                        </p>
                        <p>Knowledgebase:
                            <a class="resourcelink" href="https://docs.python.org/2/library/sqlite3.html">
                                <p>SQLite</p>
                            </a>
                            <a class="resourcelink" href="https://pypi.org/project/experta/">
                                <p>Experta</p>
                            </a>
                        </p>
                        <p>Prediction models:
                            <a class="resourcelink" href="https://scikit-learn.org/stable/index.html">
                                <p>Scikit-learn</p>
                            </a>
                            <a class="resourcelink" href="https://numpy.org/">
                                <p>NumPy</p>
                            </a>
                            <a class="resourcelink" href="https://joblib.readthedocs.io/en/latest/">
                                <p>Joblib</p>
                            </a>
                        </p>
                        <p>Historical data:
                            <a class="resourcelink" href="https://wiki.openraildata.com/index.php/HSP">
                                <p>Historical service performance</p>
                            </a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="block-3">
                <div class="linkInfo">
                    <p class="link-title">Information</p>
                    <div class="chat_info">
                        <a href="https://github.com/AlvinLu98/Chatbot">
                            <p>Source code</p>
                        </a>
                        <a href="https://github.com/AlvinLu98/Chatbot/blob/master/Report/Group_2%20Final%20report.pdf">
                            <p>Report</p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="footer">
                <p>©2020 Train Booking Chatbot</p>
                <p>Adapted from bootstrap designed by Ming Hong Wang 2018</p>
            </div>
        </div>

    </div>
</body>

</html>